
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Times New Roman", Times, serif;
}

.top-half {
    height: 40vh;
    background-image: url('1.jpg');
    background-size: contain;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 10px;
    box-sizing: border-box; 
    grid-gap: 20px; 
    grid-auto-flow: dense; 
}

.bottom-half {
    height: 60%; 
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25%;
    box-sizing: border-box;
}


.top-left {
    color: white;
    position: absolute;
    top: 0; 
    left: 20px; 
}

.top-right {
    color: white;
    top: 20px; 
    right: 0; 
}

.red-button {
    background-color: rgb(250, 18, 95);
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px; 
}

.centered-text {
    text-align: left;
    color: white;
    text-shadow: black;
    padding: 0 30%;
}

.blue-button {
    background-color: rgb(0, 174, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
}

h2 {
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: white;
    border: 0.01px solid rgb(1, 1, 71);
}

button.active {
    background-color: rgb(0, 174, 255);
    color: white;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    justify-content: center; 
    align-items: center; 
}

.image-grid img {
    max-width: 100%; 
    height: auto; 
}